body{
    background-color: teal;
}

.search {
    float: right;
    }

.nav{
    position: fixed;
    top: 0;
    width: 100;
    height: 50px;
    background-color: darkgrey;
}

.nav ul li {
    display: inline-block;
    line-height: 45px;
}

.nav ul li a{
    color: #fff
    padding: 10px;
    text-decoration: none;
}

.nav ul li a:hover {
    text-decoration: underline;
}
.aboutfruit {
    width: 960px;
    margin: 50px auto;
    padding: 50px;
    background-color: #fff;
    background-position: center;
    text-align: center;
}

.header p {
    margin-top: 10px;
}

.hero {
    background-position: center;
    text-align: center;
    position: absolute;
    margin: 50px auto;
    padding: 50px;
    transform: translate(-50%, -50%);
    color: white;
}

h2{
    text-align: center;
}

hr{
    width: 300px;
    border-top: 3px solid lightblue;
    margin:auto;
    margin-top: 10px;
    margin-bottom: 20px;
}

.paragraph{
    padding: 50px;
    width: 960px;
    margin: 50px auto;
    background-color: #fff;
}

.paragraph p{
    margin: bottom 10px;
}
    .grid{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        margin: 80px;
        align-items: center;
        grid-gap: 30px;
    }

    img{
        object-fit: cover;
    }

    .grid > article{
        box-shadow: 10px 5px 5 0px; #0F0F0F
        border-radius: 30px;
        text-align: center;
        background: whitesmoke;
        width: 300px;
        transition: transform;
}
    
    
        .grid > article img{
            border-bottom-left-radius: 30px;
            border-bottom-right-radius: 30px;
        }

    .content {
        cursor: progress;
    }

    .grid > article:hover{
        transform: scale(1.2);
}

@media (max-width: 800px){
.grid{
    grid-template-columns: repeat(1,1fr);
}
}

.signup{
    
    width: 960px;
    margin: 50px auto;
    padding: 50px;
    background-color: #fff;
}